<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331499339770-42i9gc9tqv79r3d4ofhc5ni6rgvp2utj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331499339770-42i9gc9tqv79r3d4ofhc5ni6rgvp2utj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>331499339770-m2slkbu2r0ughebumcrcf55sf30hdonn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDg-PiHaubbZfjcp4JoBgybGpG21BTycI4</string>
	<key>GCM_SENDER_ID</key>
	<string>331499339770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.ihsaanly.companion</string>
	<key>PROJECT_ID</key>
	<string>ihsaanly-production</string>
	<key>STORAGE_BUCKET</key>
	<string>ihsaanly-production.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331499339770:ios:394c4f042dc5a0ffc6ee43</string>
</dict>
</plist>